<!DOCTYPE>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>If you need an Help {{helpTest}}</p>
    </div>

    {{>footer}}
</body>

</html>